
@charset "utf-8";

// Our variables
$base-font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$text-color: #555;
$container-max-width: 75rem;
$base-background:#f5f5f5;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "defaults",
"syntax-highlighting";
